$white: white;
$charade: #2A2937;

header {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  background-color: darken( $charade, 3% );
}

.header_bar {
  a {

  }
}

a {
  text-decoration: none;
}

header > ul {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  li {
    /*padding: 0 1rem;*/
    padding: .5rem 1rem;
  }
}

.header_logo {
  padding: .5rem 1rem;
  padding-left: 5%;
  flex: 1 0 auto;
  order: 10;
  font-weight: 200;
  font-size: large;
}

.header_nav {
  padding-right: 5%;
  flex: 0 1 auto;
  order: 20;
}