@use 'sass:color';

$blue: #1EAEDB;
$teal: #00B8A9;
$red: #F90000;
$purple: #9373C1;
$orange: #E6834A;
$pink: #D70090;
$lightGreen: #61D76B;
$forrestGreen: #00CE58;

.username {
  color: color.adjust($blue, $lightness: -20%);
}
.timeStamp {
  color: color.adjust($forrestGreen, $lightness: -20%);
}

.teal {
  color: $teal;
}
.red {
  color: $red;
}
.purple {
  color: $purple;
}
.orange {
  color: $orange;
}
.pink {
  color: $pink;
}
.lightGreen {
  color: $lightGreen;
}
.forrestGreen {
  color: $forrestGreen;
}