$blue: #1EAEDB;
$darkerBlue: #11657F;
$orange: #E6834A;

.newPost {

}

.u_full_width {
  width: 100%;
  box-sizing: border-box;
}

.clickable {
  color: $blue;
}
.clickable:hover {
  color: $darkerBlue;
}

.bodyLabel {
  color: $orange;
}