$charade: #2A2937;
$forrestGreen: #00CE58;

.footer {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: darken( $charade, 3% );
  .footer_content {
    text-align: center;
  }
  p {
    color: $forrestGreen;
  }
}